@model List<TodayIHad.Domain.Entities.LoggedFood>

@{
    ViewBag.Title = "Index";
}


<div id="searchContainer">
    <div id="foodSearchBoxContainer" class="input-group">
        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-search"></span></span>


        <input type="text" class="form-control" id="foodSearchBox" placeholder="Search for food..." autocomplete="off" name="SearchFoodString" />


    </div>

    <div id="foodSearchResultsContainer">
        <ul id="foodSearchUL"></ul>

    </div>

</div>



<div id="scoreInfoDiv"></div>
<div id="calorieInfoDiv"></div>



<div id="tabs" style="display: none;">
    <ul>
        <li><a href="#tabs-1">Food Log</a></li>
        <li><a href="#tabs-2">Stats</a></li>
        <li><a href="#tabs-3">Friends</a></li>
        <li><a href="#tabs-4">Profile</a></li>
    </ul>


    <div id="tabs-1">
        <div id="sidebarContainer" class="col-md-4 col-md-push-8">
            <div id="dateBrowser" class="col-xs-12">
                <button id="prevDate" class="col-xs-2 btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button>
                <button id="date" class="col-xs-7 btn btn-default"><span id="dateValue"></span> </button><button id="nextDate" class="col-xs-2 btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
            <div id="calendarContainer" class="col-xs-12">

                <div id="datepicker"></div>

            </div>

        </div>

        <div id="loggedFoodsContainer" class="col-md-8 col-md-pull-4">

            <div id="logFood" style="display:none;">

                <span id='hiddenIdLogFood' style='display:none;'></span>

                <div id="nameLogFood">
                    <br /><br />
                </div>
                <div id="infoContainerLogFood" class="col-xs-12  col-sm-7">
                    <table id="infoTableLogFood">
                        <tr><th>Info</th></tr>
                        <tr>
                            <td class="labelPrimLogFoodInfo">Fat: </td>
                            <td><span id="fatAmountLogFood" data-fatAmountLogFood=""></span> g</td>
                            <td class="labelPrimLogFoodInfo"> Prot: </td>
                            <td><span id="protAmountLogFood" data-protAmountLogFood=""></span> g</td>
                        </tr>
                        <tr>
                            <td class="labelSecLogFoodInfo">Sat. </td>
                            <td><span id="satFatAmountLogFood" data-satFatAmountLogFood=""></span> g</td>
                            <td class="labelPrimLogFoodInfo"> Carb: </td>
                            <td><span id="carbsAmountLogFood" data-carbsAmountLogFood=""></span> g</td>
                        </tr>
                        <tr>
                            <td class="labelSecLogFoodInfo">Mono. </td>
                            <td> <span id="monoFatAmountLogFood" data-monoFatAmountLogFood=""></span> g</td>
                            <td class="labelSecLogFoodInfo">Fiber: </td>
                            <td><span id="fiberAmountLogFood" data-fiberAmountLogFood=""></span> g</td>
                        </tr>
                        <tr>
                            <td class="labelSecLogFoodInfo">Poly.</td>
                            <td><span id="polyFatAmountLogFood" data-polyFatAmountLogFood=""></span> g</td>
                            <td class="labelSecLogFoodInfo">Sugar:</td>
                            <td><span id="sugarAmountLogFood" data-sugarAmountLogFood=""></span> g</td>
                        </tr>
                        <tr>
                            <td class="labelPrimLogFoodInfo">Choles:</td>
                            <td><span id="cholesAmountLogFood" data-cholesAmountLogFood=""></span> mg</td>
                            <td class="labelPrimLogFoodInfo">Sodium:</td>
                            <td><span id="sodiumAmountLogFood" data-sodiumAmountLogFood=""></span> mg</td>
                        </tr>
                    </table>
                    <div id="calsLogFood"><span id="calsAmountLogFood" data-calsAmountLogFood=""></span> calories</div>
                </div>
                <div id="actionContainerLogFood" class="col-xs-12 col-sm-5">
                    <label>Unit</label>
                    <select class="form-control" id="unitsLogFood"></select> <br />
                    <label>Quantity</label>
                    <input type="number" class="form-control" id="quantityLogFood" value="" /><br /><br />
                    <div id="btnContainerLogFood"></div>
                </div>

            </div>


            @foreach (var item in Model.Where(x => x.DateCreated.Date == DateTime.Now.Date).OrderByDescending(x => x.DateCreated))
            {
                <div class="loggedFoodCompact">
                    <span class='hiddenFoodIdCompact' style='display:none;'>@item.FoodId</span>
                    <span class='hiddenLoggedFoodIdCompact' style='display:none;'>@item.Id</span>
                    <span class='hiddenDateCreatedCompact' style='display:none;'>@item.DateCreated </span>
                    <span id='hiddenRowNumberCompact' style='display:none;'></span>
                    <div class="loggedFoodNameCompact">@item.Name	</div>
                    <div class="loggedFoodInfoCompact">
                        Calories: <span class="loggedFoodCaloriesCompact">@item.Calories</span>
                        | Quantity: <span class="loggedFoodQuantityCompact">@item.Amount</span>
                        | Unit: <span class="loggedFoodUnitCompact">@item.Unit</span>
                    </div>
                </div>
            }



        </div>



    </div>

    <div id="tabs-2">
        Stats will be here...
    </div>
    <div id="tabs-3">Friends leaderboards...Compare points and streaks with friends</div>
    <div id="tabs-4">
        Profile...(adjust weight and other measurements)
    </div>

</div>