@model List<TodayIHad.Domain.Entities.LoggedFood>

@{
    ViewBag.Title = "Index";
}



<div id="foodSearchDiv" class="input-group">
    <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-search"></span></span>


    <input type="text" class="form-control" id="foodSearchBox" placeholder="Search for food..." autocomplete="off" name="SearchFoodString" />
</div>

<ul id="foodSearchUL"></ul>



<div id="scoreInfoDiv"></div>
<div id="calorieInfoDiv"></div>

<div id="foodLogDialog" title="Log Food">

    <p id="foodLogDialogCalories">Calories: </p>
    <label>Amount</label>
    <input id="foodLogDialogAmountInput" type="number" value="100">
    <select id="foodLogDialogUnitSelect"></select>
    <input type="hidden" id="hiddenFieldfoodLogDialog" name="foodId" value="">
    <input type="button" id="logFoodSaveBtn" value="Save" />

</div>

<div id="loggedFoodEditDialog" title="Food Edit">
    <p id="loggedFoodEditDialogCalories">Calories: </p>
    <label>Amount</label>
    <input id="loggedFoodEditDialogAmountInput" type="number" value="100">
    <select id="loggedFoodEditDialogUnitSelect"></select>
    <input type="hidden" id="hiddenFieldloggedFoodEditDialog" name="foodId" value="">
    <input type="hidden" id="hiddenLoggedFoodIdEditDialog" name="loggedFoodId" value="">
    <input type="hidden" id="hiddenTableRowNumber" name="loggedFoodId" value="">

    <input type="button" id="loggedFoodEditDialogDeleteBtn" value="Delete" />
    <input type="button" id="loggedFoodEditDialogUpdateBtn" value="Update" />

</div>

<div id="tabs" style="display: none;">
    <ul>
        <li><a href="#tabs-1">Food Log</a></li>
        <li><a href="#tabs-2">Statistics</a></li>
        <li><a href="#tabs-3">Leaderboards</a></li>
    </ul>


    <div id="tabs-1">




        <div id="loggedFoodsContainer" class="col-xs-12 col-md-8">
        @foreach (var item in Model.OrderByDescending(x => x.DateCreated))
        {
            <div class="loggedFoodCompact">
                <span class='hiddenFoodIdCompact' style='display:none;'>@item.FoodId</span>
                <span class='hiddenDateCreatedCompact' style='display:none;'>@item.DateCreated </span>
                <div class="loggedFoodNameCompact">@item.Name	</div>
                <div class="loggedFoodInfoCompact">
                    Calories: <span class="loggedFoodCaloriesCompact">@item.Calories</span>
                    | Quantity: <span class="loggedFoodQuantityCompact">@item.Amount</span>
                    | Unit: <span class="loggedFoodUnitCompact">@item.Unit</span>
                </div>
            </div>


        }
            <div class="loggedFoodCompact">
                <div class="loggedFoodNameCompact">Cream substitute, liquid, with hydrogenated vegetable oil and soy protein and soy protein...	</div>
                <div class="loggedFoodInfoCompact">
                    Calories: <span class="loggedFoodCaloriesCompact">343</span>
                    | Quantity: <span class="loggedFoodQuantityCompact">2</span>
                    | Unit: <span class="loggedFoodUnitCompact">oz</span>
                </div>

            </div>
            <div class="loggedFoodCompact">
                <div class="loggedFoodNameCompact">
                    Cream substitute, liquid, with hydrogenated vegetable oil and soy protein and soy protein...<br/><br />
                    <div class="caloriesFull">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Calories: <span class="loggedFoodCaloriesFull">343</span></div>
                </div><br/>
                <div class="loggedFoodFull container">
                    <div class="loggedFoodFullLeftDiv col-xs-12 col-sm-6">
                            <table class="col-xs-12">
                                <tr>
                                    <td>
                                        Fat: <span>231</span>
                                    </td>
                                    <td>
                                        Carbs: <span>231</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;Sat. Fat: <span>23</span>
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;&nbsp;Mono. Fat: <span>d3</span>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>

                            </table>
                        <div class="col-xs-6">

                            Fat: <span>231</span><br />
                            &nbsp;&nbsp;Sat. Fat: <span>23</span><br />
                            &nbsp;&nbsp;Mono. Fat: <span>d3</span><br />
                            &nbsp;&nbsp;Poly. Fat: <span>213</span><br />
                            Protein: <span>343</span>

                        </div>
                        <div class="col-xs-6">
                            Carbs: <span>231</span><br/>
                            &nbsp;&nbsp;Fiber: <span>23</span><br />
                            &nbsp;&nbsp;Sugar: <span>d3</span><br />
                            Cholesterol: <span>213</span><br />
                            Sodium: <span>213</span><br />

                        </div>

                    </div>
                    <div class="loggedFoodFullRightDiv col-xs-12 col-sm-6">
                        <label>Quantity</label>
                        <input type="number" class="text-box" value=""/><br/><br/>
                        @*Quantity: <span class="loggedFoodQuantityCompact">2</span>*@
                        @*Unit: <span class="loggedFoodUnitCompact">oz</span>*@
                        <label >Unit</label>
                        <select class="input-sm">
                            <option>dqwdqwdwqdqwdqwdqwdqwdqwdqwdqwdqwdqwd</option>
                        </select>
                        <button class="btn btn-danger">Delete</button>

                        <button class="btn btn-success">Update</button>
                    </div>

                </div>

            </div>

            <div class="loggedFoodFull"></div>

        </div>
        <div id="calendarContainer" class="col-xs-12 col-md-4">
            <div id="datepicker"></div>

        </div>


        @*<table id="loggedFoodTable" class="table table-responsive table-condensed table-hover">
            <thead>
                <tr><th>Food Name</th> <th>Calories</th><th>Amount</th><th>Edit</th></tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderByDescending(x => x.DateCreated))
                {
                    <tr>
                        <td style="display: none;">
                            @Html.DisplayFor(modelItem => item.FoodId)
                        </td>
                        <td style="display: none;">
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Calories)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount) @Html.DisplayFor(modelItem => item.Unit)
                        </td>

                        <td class="editLoggedFoodTd">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </td>
                    </tr>

                }
            </tbody>
        </table>*@
    </div>

    <div id="tabs-2">

    </div>
    <div id="tabs-3">Stats will be here...</div>
</div>

