@model List<TodayIHad.Domain.Entities.LoggedFood>

@{
    ViewBag.Title = "Index";
}


<div id="searchContainer">
    <div id="foodSearchBoxContainer" class="input-group">
        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-search"></span></span>
        <input type="text" class="form-control" id="foodSearchBox" name="SearchFoodString" placeholder="Search for food..." autocomplete="off" />
    </div>
    <div id="foodSearchResultsContainer">
        <ul id="foodSearchUL"></ul>
    </div>
</div>


<div id="dailyTotalsAndScoreContainer" class="col-xs-12 row">
    <div id="dailyInfoDiv" class="col-xs-12 col-sm-7 ">
        <div id="dailyTotalsChart" class="ct-chart ct-major-sixth col-xs-12"></div>


        <div id="calsDailyInfo" class="col-xs-12">
            <span id="caloriesDailyTotals">0</span>
            calories
        </div>
        <div id="dailyTotalsReportContainer" class="col-xs-12">
            <div id="dailyTotalsTable">
                <div id="hideDailyReport">
                    Close report for <span class="dateFullDailyReport"></span> <span class="glyphicon glyphicon-chevron-up"></span>
                </div>
            </div>
            <div id="showDailyReport">
                Full report for <span class="dateFullDailyReport"></span> <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
        </div>
    </div>
    <div id="scoreInfoDiv" class="col-xs-12 col-sm-5">
        <div id="scoreInfoCollapsed">
            <div>Score: 22140 | Level: 9/15 |  Rank: <a href="#">2/6</a></div>
            <div> Streak: 5 days  | Active: 288 days </div>
        </div>
        <div id="scoreInfoFull">

        </div>

    </div>
</div>


<div id="tabs" style="display: none;">
    <ul>
        <li id="foodLogTab"><a href="#tabs-1">Food Log</a></li>
        <li id="statsTab"><a href="#tabs-2">Stats</a></li>
        <li id="scoresTab"><a href="#tabs-3">Scores</a></li>
        <li id="profileTab"><a href="#tabs-4"><span class="glyphicon glyphicon-user"></span></a></li>
    </ul>


    <div id="tabs-1">
        <div id="sidebarContainer" class="col-md-4 col-md-push-8">
            <div id="dateBrowser" class="col-xs-12">
                <button id="prevDate" class="col-xs-2 btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button>
                <button id="date" class="col-xs-7 btn btn-default"><span id="dateValue"></span> </button><button id="nextDate" class="col-xs-2 btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
            <div id="calendarContainer" class="col-xs-12">

                <div id="datepicker"></div>

            </div>

        </div>

        <div id="loggedFoodsContainer" class="col-md-8 col-md-pull-4">

            <div id="nothingHere">You haven't added any food for this day.</div>


            @*@foreach (var item in Model.Where(x => x.DateCreated.Date == DateTime.Now.Date).OrderByDescending(x => x.Id))
                {
                    <div class="loggedFoodCompact">
                        <span class='hiddenFoodIdCompact' style='display:none;'>@item.FoodId</span>
                        <span class='hiddenLoggedFoodIdCompact' style='display:none;'>@item.Id</span>
                        <span class='hiddenDateCreatedCompact' style='display:none;'>@item.DateCreated </span>
                        <span id='hiddenRowNumberCompact' style='display:none;'></span>
                        <div class="loggedFoodNameCompact">@item.Name	</div>
                        <div class="loggedFoodInfoCompact">
                            Calories: <span class="loggedFoodCaloriesCompact">@item.Calories</span>
                            | Quantity: <span class="loggedFoodQuantityCompact">@item.Amount</span>
                            | Unit: <span class="loggedFoodUnitCompact">@item.Unit</span>
                        </div>
                    </div>
                }*@



        </div>



    </div>

    <div id="tabs-2">
        Stats will be here...
    </div>
    <div id="tabs-3">
        scores and leaderboards...

        Score = Streak * 10 + Active days * 5.

        For example, if you have a 5 day streak and have been active on the site (added at least one food) for 60 days,
        you'll get 50 (5 * 10) points for the streak and 300 (60 * 5) points for the active days, or 350 days in total for that day.
        These will then be added to your previous score. 
    </div>
    <div id="tabs-4">
        Profile...(adjust weight and other measurements)
    </div>

</div>



<script id="newLoggedFoodTemplate" type="text/mustachetemplates">


    <div class='loggedFoodCompact newLoggedFoodCompact'>

        <span class='hiddenFoodIdCompact' style='display:none;'> {{FoodId}} </span>
        <span class='hiddenLoggedFoodIdCompact' style='display:none;'> {{Id }}</span>
        <span class='hiddenDateCreatedCompact' style='display:none;'> {{DateCreated}} </span>
        <span id='hiddenRowNumberCompact' style='display:none;'></span>
        <div class='loggedFoodNameCompact newLoggedFoodNameCompact'> {{Name}} </div>
        <div class='loggedFoodInfoCompact'>
            Calories: <span class='loggedFoodCaloriesCompact'> {{Calories}} </span>
            | Quantity: <span class='loggedFoodQuantityCompact'> {{Amount}} </span>
            | Unit: <span class='loggedFoodUnitCompact'> {{Unit}} </span>
        </div>
    </div>

</script>

<script id="loggedFoodTemplate" type="text/mustachetemplates">

    <div class='loggedFoodCompact'>
        <span class='hiddenFoodIdCompact' style='display:none;'> {{FoodId}} </span>
        <span class='hiddenLoggedFoodIdCompact' style='display:none;'> {{Id}} </span>
        <span class='hiddenDateCreatedCompact' style='display:none;'>  {{DateCreated}} </span>
        <span id='hiddenRowNumberCompact' style='display:none;'></span>
        <div class='loggedFoodNameCompact'> {{Name}} </div>
        <div class='loggedFoodInfoCompact'>
            Calories: <span class='loggedFoodCaloriesCompact'> {{Calories}} </span>
            | Quantity: <span class='loggedFoodQuantityCompact'> {{Amount }}</span>
            | Unit: <span class='loggedFoodUnitCompact'> {{Unit}} </span>
        </div>
    </div>
</script>


<script id="logFoodTemplate" type="text/mustachetemplates">

    <div id="logFood">

        <span id='hiddenIdLogFood' style='display:none;'>{{Id}}</span>

        <div id="nameLogFoodDiv">
            <span id="nameLogFood">{{Name}}</span>
        </div>
        <div id="infoContainerLogFood" class="col-xs-12  col-sm-7">
            <table id="infoTableLogFood">
                <tr><th>Info</th></tr>
                <tr>
                    <td class="labelPrimLogFoodInfo">Fat: </td>
                    <td class="valuesInfoTable"><span id="fatAmountLogFood" data-fatamountlogfood="{{FatGr}}">{{FatGr}}</span> g &nbsp;</td>
                    <td class="labelPrimLogFoodInfo"> Prot: </td>
                    <td class="valuesInfoTable"><span id="protAmountLogFood" data-protamountlogfood="{{ProteinGr}}">{{ProteinGr}}</span> g &nbsp;</td>
                </tr>
                <tr>
                    <td class="labelSecLogFoodInfo">Sat. </td>
                    <td class="valuesInfoTable"><span id="satFatAmountLogFood" data-satfatamountlogfood="{{FatSatGr}}">{{FatSatGr}}</span> g &nbsp;</td>
                    <td class="labelPrimLogFoodInfo"> Carb: </td>
                    <td class="valuesInfoTable"><span id="carbsAmountLogFood" data-carbsamountlogfood="{{CarbsGr}}">{{CarbsGr}}</span> g &nbsp;</td>
                </tr>
                <tr>
                    <td class="labelSecLogFoodInfo">Mono. </td>
                    <td class="valuesInfoTable"> <span id="monoFatAmountLogFood" data-monofatamountlogfood="{{FatMonoGr}}">{{FatMonoGr}}</span> g &nbsp;</td>
                    <td class="labelSecLogFoodInfo">Fiber: </td>
                    <td class="valuesInfoTable"><span id="fiberAmountLogFood" data-fiberamountlogfood="{{FiberGr}}">{{FiberGr}}</span> g &nbsp;</td>
                </tr>
                <tr>
                    <td class="labelSecLogFoodInfo">Poly.</td>
                    <td class="valuesInfoTable"><span id="polyFatAmountLogFood" data-polyfatamountlogfood="{{FatPolyGr}}">{{FatPolyGr}}</span> g &nbsp;</td>
                    <td class="labelSecLogFoodInfo">Sugar:</td>
                    <td class="valuesInfoTable"><span id="sugarAmountLogFood" data-sugaramountlogfood="{{SugarGr}}">{{SugarGr}}</span> g &nbsp;</td>
                </tr>
                <tr>
                    <td class="labelPrimLogFoodInfo">Choles:</td>
                    <td class="valuesInfoTable"><span id="cholesAmountLogFood" data-cholesamountlogfood="{{CholesterolMg}}">{{CholesterolMg}}</span> mg</td>
                    <td class="labelPrimLogFoodInfo">Sodium:</td>
                    <td class="valuesInfoTable"><span id="sodiumAmountLogFood" data-sodiumamountlogfood="{{SodiumMg}}">{{SodiumMg}}</span> mg</td>
                </tr>
            </table>
            <div id="calsLogFood"><span id="calsAmountLogFood" data-calsamountlogfood="{{CaloriesKcal}}">{{CaloriesKcal}}</span> calories</div>
        </div>
        <div id="actionContainerLogFood" class="col-xs-12 col-sm-5">
            <label>Unit</label>
            <select class="form-control" id="unitsLogFood"></select> <br />
            <label>Quantity</label>
            <input type="number" class="form-control" id="quantityLogFood" value="" /><br /><br />
            <div id="btnContainerLogFood">
                <button class='btn btn-success saveBtn'>Save</button>
                <button class='btn btn-default cancelBtn'>Cancel</button>
            </div>
        </div>

    </div>

</script>

<script id="editLoggedFoodTemplate" type="text/mustachetemplates">
    <div id="editLoggedFood">

        <span id='hiddenIdLogFood' style='display:none;'>{{loggedFood.FoodId}}</span>
        <span class='hiddenLoggedFoodIdFull' style='display:none'>{{loggedFood.Id}}</span>
        <span id='hiddenDateCreatedLoggedFood' style='display:none'></span>
        <div id="nameLogFoodDiv">
            <span id="nameLogFood">{{loggedFood.Name}}</span>
        </div>
        <div id="infoContainerLogFood" class="col-xs-12  col-sm-7">
            <table id="infoTableLogFood">
                <tr><th>Info</th></tr>
                <tr>
                    <td class="labelPrimLogFoodInfo">Fat: </td>
                    <td class="valuesInfoTable"><span id="fatAmountLogFood" data-fatamountlogfood="{{food.FatGr}}">{{loggedFood.FatGr}}</span>  g &nbsp;</td>
                    <td class="labelPrimLogFoodInfo"> Prot: </td>
                    <td class="valuesInfoTable"><span id="protAmountLogFood" data-protamountlogfood="{{food.ProteinGr}}">{{loggedFood.ProteinGr}}</span> g &nbsp;</td>
                </tr>
                <tr>
                    <td class="labelSecLogFoodInfo">Sat. </td>
                    <td class="valuesInfoTable"><span id="satFatAmountLogFood" data-satfatamountlogfood="{{food.FatSatGr}}">{{loggedFood.FatSatGr}}</span> g &nbsp;</td>
                    <td class="labelPrimLogFoodInfo"> Carb: </td>
                    <td class="valuesInfoTable"><span id="carbsAmountLogFood" data-carbsamountlogfood="{{food.CarbsGr}}">{{loggedFood.CarbsGr}}</span> g &nbsp;</td>
                </tr>
                <tr>
                    <td class="labelSecLogFoodInfo">Mono. </td>
                    <td class="valuesInfoTable"> <span id="monoFatAmountLogFood" data-monofatamountlogfood="{{food.FatMonoGr}}">{{loggedFood.FatMonoGr}}</span> g &nbsp;</td>
                    <td class="labelSecLogFoodInfo">Fiber: </td>
                    <td class="valuesInfoTable"><span id="fiberAmountLogFood" data-fiberamountlogfood="{{food.FiberGr}}">{{loggedFood.FiberGr}}</span> g &nbsp;</td>
                </tr>
                <tr>
                    <td class="labelSecLogFoodInfo">Poly.</td>
                    <td class="valuesInfoTable"><span id="polyFatAmountLogFood" data-polyfatamountlogfood="{{food.FatPolyGr}}">{{loggedFood.FatPolyGr}}</span> g &nbsp;</td>
                    <td class="labelSecLogFoodInfo">Sugar:</td>
                    <td class="valuesInfoTable"><span id="sugarAmountLogFood" data-sugaramountlogfood="{{food.SugarGr}}">{{loggedFood.SugarGr}}</span> g &nbsp;</td>
                </tr>
                <tr>
                    <td class="labelPrimLogFoodInfo">Choles:</td>
                    <td class="valuesInfoTable"><span id="cholesAmountLogFood" data-cholesamountlogfood="{{food.CholesterolMg}}">{{loggedFood.CholesterolMg}}</span> mg</td>
                    <td class="labelPrimLogFoodInfo">Sodium:</td>
                    <td class="valuesInfoTable"><span id="sodiumAmountLogFood" data-sodiumamountlogfood="{{food.SodiumMg}}">{{loggedFood.SodiumMg}}</span> mg</td>
                </tr>
            </table>

            <div id="calsLogFood">
                <span id="calsAmountLogFood" data-calsamountlogfood="{{food.CaloriesKcal}}">{{loggedFood.Calories}} </span>  calories
            </div>

        </div>
        <div id="actionContainerLogFood" class="col-xs-12 col-sm-5">
            <label>Unit</label>
            <select class="form-control" id="unitsLogFood"></select> <br />
            <label>Quantity</label>
            <input type="number" class="form-control" id="quantityLogFood" value="{{loggedFood.Amount}}" /><br /><br />
            <div id="btnContainerLogFood">
                <button class='btn btn-success updateBtn'>Update</button>
                <button class='btn btn-default cancelBtn'>Cancel</button>
                <button class='btn btn-danger deleteBtn'>Delete</button>
            </div>
        </div>

    </div>

</script>


<script id="fullDailyReportTemplate" type="text/mustachetemplates">


    <table id="macroRatiosTableDailyReport" class="macroRatiosTable">
        <tr>
            <td id="carbsRatioDailyReport" class="carbsRatio"></td>
            <td id="proteinRatioDailyReport" class="proteinRatio"></td>
            <td id="fatRatioDailyReport" class="fatRatio"></td>
        </tr>
    </table>

    <table id="fullDailyReportTable">
        <tr>
            <td class="labelPrimLogFoodInfo">Fat: </td>
            <td class="valuesInfoTable">{{Fat}} g &nbsp;</td>
            <td class="labelPrimLogFoodInfo"> Prot: </td>
            <td class="valuesInfoTable">{{Protein}} g &nbsp;</td>
        </tr>
        <tr>
            <td class="labelSecLogFoodInfo">Sat. </td>
            <td class="valuesInfoTable">{{FatSat}} g &nbsp;</td>
            <td class="labelPrimLogFoodInfo"> Carb: </td>
            <td class="valuesInfoTable">{{Carbs}} g &nbsp;</td>
        </tr>
        <tr>
            <td class="labelSecLogFoodInfo">Mono. </td>
            <td class="valuesInfoTable">{{FatMono}} g &nbsp;</td>
            <td class="labelSecLogFoodInfo">Fiber: </td>
            <td class="valuesInfoTable">{{Fiber}} g &nbsp;</td>
        </tr>
        <tr>
            <td class="labelSecLogFoodInfo">Poly.</td>
            <td class="valuesInfoTable">{{FatPoly}} g &nbsp;</td>
            <td class="labelSecLogFoodInfo">Sugar:</td>
            <td class="valuesInfoTable">{{Sugar}} g &nbsp;</td>
        </tr>
        <tr>
            <td class="labelPrimLogFoodInfo">Choles:</td>
            <td class="valuesInfoTable">{{Cholesterol}} mg</td>
            <td class="labelPrimLogFoodInfo">Sodium:</td>
            <td class="valuesInfoTable">{{Sodium}} mg</td>
        </tr>
    </table>

</script>