@model TodayIHad.Domain.Entities.Food

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Food</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calories_kcal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calories_kcal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Protein_gr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Protein_gr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fat_gr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fat_gr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carbs_gr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carbs_gr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiber_gr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiber_gr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sugar_gr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sugar_gr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sodium_mg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sodium_mg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fat_Sat_gr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fat_Sat_gr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fat_Mono_gr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fat_Mono_gr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fat_Poly_gr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fat_Poly_gr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cholesterol_mg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cholesterol_mg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDefault)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDefault)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
