@model TodayIHad.Domain.Entities.Food

@{
    ViewBag.Title = "Delete";
}

<h2>Delete "@Model.Name"?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Calories
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaloriesKcal)
        </dd>

        <dt>
            Protein
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProteinGr)
        </dd>

        <dt>
            Fat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatGr)
        </dd>

        <dt>
            Carbs
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarbsGr)
        </dd>

        <dt>
            Fiber
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiberGr)
        </dd>

        <dt>
            Sugar
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SugarGr)
        </dd>

        <dt>
            Sodium (mg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SodiumMg)
        </dd>

        <dt>
            Sat. Fat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatSatGr)
        </dd>

        <dt>
            Mono. Fat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatMonoGr)
        </dd>

        <dt>
            Poly. Fat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatPolyGr)
        </dd>

        <dt>
            Cholesterol (mg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CholesterolMg)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
